* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
*:focus {
    outline: none;
}

body{
    /* margin-left: 2rem;
    margin-right: 2rem; */
    font-family: 'Public Sans', sans-serif;
    line-height: 2rem;
}

.main-wrapper{
    overflow: hidden;
}

/* Utilities */
h1{
    text-align: center;
    color: hsl(233, 26%, 24%);
    font-weight: 400;
}


/* p{
    color: hsl(0, 0%, 98%);
} */

button{
    width: 10rem;
    padding: 0.7rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 3rem;
    color: white;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
    font-family: 'Public Sans', sans-serif;
}

h3{
    text-align: center;
    margin-bottom: 1rem;
}

/* General */

.nav-bar{
    display: flex;
    margin: 2rem;
}  

#harmburger{
    padding-left: 9rem;
}

.banner img{
    width: 375px;
    background: url(images/bg-intro-mobile.svg);
}

.banner h1{
    margin-top: 4rem;
}

.next{
    margin: 3rem 2rem 6rem 2rem;
}

.why-choose{
    background-color:hsl(220, 16%, 96%) ;
    padding: 3rem;
    padding-bottom: 6rem;
}

.why-choose img {
    margin: 3rem 0 1rem 6rem;
}


.articles h1{
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.article {
    width: 325px;
    height: 525px;
    box-shadow: 0 4px 8px 0 grey;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.article:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}

.article img{
    border-radius: 2px;
    width: 325px;
}

.article p{
    text-align: left;
    height: 2rem;
    padding-bottom: 2rem;
    font-weight: normal;
    padding: 1rem;
}


.article h3{
    text-align: left;
    margin-bottom: 0;
    padding-left: 1rem;
    margin-top: 1rem;
}


.footer{
    margin-top: 8rem;
    background-color:hsl(233, 26%, 24%) ;
}

.footer{
    padding-left: 6rem;
}

.social-media{
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
}

.social-media img{
   padding-right: 1rem;
}

.footer img{
    margin-top: 2rem;
}

.footer p{
    margin-top: 2rem;
    color: hsl(0, 0%, 98%);
}

.mini-nav a{
    text-decoration: double;
    color:hsl(0, 0%, 100%) ;
    display: block;
    text-align: center;
    padding-left: 2rem;
}