* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
*:focus {
    outline: none;
}

body{
    /* margin-left: 2rem;
    margin-right: 2rem; */
    font-family: 'Public Sans', sans-serif;
    line-height: 2rem;
}

.main-wrapper{
    margin: 2rem;
}

/* Utilities */
h1{
    text-align: center;
    color: hsl(233, 26%, 24%);
    font-weight: 400;
}

/* p{
    color: hsl(220, 16%, 96%);
} */

button{
    width: 10rem;
    padding: 0.7rem;
    border-radius: 2rem;
    margin-left: 3rem;
    color: white;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
    font-family: 'Public Sans', sans-serif;
}

/* General */

.nav-bar{
    display: flex;
    margin: 1.0rem;
    margin-bottom: 0;
}  

#harmburger{
    padding-left: 11rem;
}

.banner{
    background-color: hsl(0, 0%, 98%);
}

.banner img{
    width: 370px;
    background: url(images/bg-intro-mobile.svg);
}

.banner h1{
    margin-top: 4rem;
}
