* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
*:focus {
    outline: none;
}

body{
    font-family: 'Public Sans', sans-serif;
    line-height: 2rem;
}

.main-wrapper{
    overflow: hidden;
}

/* Utilities */
h1{
    text-align: center;
    color: hsl(233, 26%, 24%);
    font-weight: 400;
}


button{
    width: 10rem;
    border: none;
    padding: 0.7rem;
    border-radius: 2rem;
    margin-top: 30%;
    color: white;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
    font-family: 'Public Sans', sans-serif;
}

h3{
    text-align: center;
    margin-bottom: 1rem;
}

/* General */
/* Harmburger Styling */

.harmburger {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color:hsl(136, 65%, 51%);
    margin: 6px 0;
    transition: 0.4s;
}
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
}
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.nav{
    text-align: center;
    margin-top: 4.4rem;
    position: relative;
    display: inline-block;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
}

.nav a{
    text-decoration: none;
    color:hsl(233, 26%, 24%) ;
    font-size: 17px;
    display: block;
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 2rem;
}

#next-button{
    margin-left: 4rem;
}

.nav-bar{
    display: flex;
    margin: 1rem;
}  

#harmburger{
    padding-left: 9rem;
}

.banner img{
    width: 100%;
    background: url(images/bg-intro-mobile.svg);
}

.banner h1{
    margin-top: 4rem;
}


.next{
    margin: 3rem 2rem 6rem 2rem;
}

.why-choose{
    background-color:hsl(220, 16%, 96%) ;
    padding: 3rem;
    padding-bottom: 6rem;
}

.why-choose img {
    margin: 3rem 0 1rem 6rem;
}


.articles h1{
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.article {
    width: 80%;
    height: 525px;
    box-shadow: 0 4px 8px 0 grey;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.article:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}

.article img{
    border-radius: 2px;
    width: 100%;
}

.article p{
    text-align: left;
    height: 2rem;
    padding-bottom: 2rem;
    font-weight: normal;
    padding: 1rem;
}


.article h3{
    text-align: left;
    margin-bottom: 0;
    padding-left: 1rem;
    margin-top: 1rem;
}


.footer{
    margin-top: 8rem;
    background-color:hsl(233, 26%, 24%) ;
}

.footer{
    padding-left: 6rem;
}

.social-media{
    margin-bottom: 1rem;
}

.social-media img{
   padding-right: 1rem;
}

.footer img{
    margin-top: 2rem;
}

.footer p{
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: 	#A9A9A9
}

.mini-nav a{
    text-decoration: double;
    color:hsl(0, 0%, 100%) ;
    display: block;
    text-align: initial;
    padding-left: 2rem;
}

#heart{
    color: red;
}

#lower-button{
    margin-top: 20%;
}

@media only screen and (min-width:961px){
    nav{
        display: flex;
    }

    #nav-bar{
        margin: 0;
        padding: 0;
        padding-left: 6rem;
        text-align: initial;
        display: inherit;
        margin: 0;
        position: relative;
        background-color: white;
    }

    .nav-bar img{
        width: 150px;
        height: 25px;
    }

    #upper-button{
        margin: auto;
        margin-left: 25rem;
    }


    .nav{
        display: inline-block;
        padding-left: 6rem;
    }


    .nav a {
        padding-right: 4rem;
        text-decoration: none;
        color:	#A9A9A9
    }

    #harmburger{
        display: none;
    }   
    
    .banner img{
        width: 700px;
        background: url(images/bg-intro-desktop.svg);
    }
    
    .next h1{
        margin-left: -1rem;
    }

    .next-banner{
        display: flex;
        flex-direction: row-reverse;
    }

    .services{
        display: flex;
        margin-bottom: 4rem;
    }


    .service h3{
        text-align: justify;
        padding-left: 6rem;
    }

    .why-choose{
        padding-bottom: 2rem;
        margin-bottom: 6rem;
    }

    .why-choose h1, p{
        text-align: left;
        padding-left: 4rem;
    }

    .articles h1{
        display: inline-block;
        margin-top: -3rem;
        padding-left: 4rem;
    }

   .articles, .footer{
        display: flex;
        flex-flow: row wrap;
    }

    .articles{
        margin-left: -25rem;
        justify-content: space-around;
    }

    .article{
        width: 250px;
        height: 550px;

    }

    .article img{
        width: 250px;
    }

    #lower-button{
        padding: 0;
        width: 15rem;
        height: 3rem;
    }

    .footer{
        justify-content: space-around;
    }

}